# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Node/JS (if any)
node_modules/

# Virtual environments
src/speechML/TbDD/tbdd_env/
venv/
.env/
.venv/

# ML artifacts
src/speechML/pretrained/
*.safetensors
*.pt
*.bin

# Data and test audio
src/speechML/testingset/
*.wav
*.csv

# Notebooks and outputs
*.ipynb
.ipynb_checkpoints/

# OS/editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Build artifacts
build/
dist/ 